
<body>

    <section id="userPage">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            <li>
                                <a href="#">Oreders</a>
                            </li>
                            <li>
                                <a href="#">Downloads</a>
                            </li>
                            <li>
                                <a href="#">Addresses</a>
                            </li>
                            <li>
                                <a href="#">Account details</a>
                            </li>
                            <li>
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-8">
                    <div class="userDesc">

                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>