<html>
<body>

    <section id="userPage">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            <li>
                                <a href="#">Oreders</a>
                            </li>
                            <li>
                                <a href="#">Downloads</a>
                            </li>
                            <li>
                                <a href="#">Addresses</a>
                            </li>
                            <li>
                                <a href="#">Account details</a>
                            </li>
                            <li>
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-8">
                    <div class="userDesc">
                   <h5>Hello @Session["username"] (not @Session["username"]? <a href="@Url.Action("Home","Main")" class="logout">Log out</a>)</h5>
                   <p>From your account dashboard you can view your recent orders, manage your shipping and billing addresses and edit your password and 
                    account details.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>